<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi quod inventore quidem natus rerum blanditiis optio. Dolorum quis necessitatibus illum saepe placeat neque quo eveniet deserunt deleniti repellat! Sed, iure.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi quod inventore quidem natus rerum blanditiis optio. Dolorum quis necessitatibus illum saepe placeat neque quo eveniet deserunt deleniti repellat! Sed, iure.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi quod inventore quidem natus rerum blanditiis optio. Dolorum quis necessitatibus illum saepe placeat neque quo eveniet deserunt deleniti repellat! Sed, iure.
            </p>
        </ul>
    </div>
</div>