<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Infojet SRL</h2> - <h3>Septiembre de 2010 - Julio de 2021</h3>
            </li>
            <p>
                Administrativa, redactora y editora de contenidos de carteleras de espectáculos. Confección de carteleras teatros, cines y recitales para publicaciones gráficas (diarios Clarín y Nación) y sitios web. Armado y edición de fichas técnicas, sinopsis y fotos de estrenos de cines y obras
                teatrales. Búsqueda, recopilación y carga de datos en SQL. Carga de videos en el canal de YouTube de la empresa. Atención telefónica y personal a clientes.

            </p>
        </ul>
        <ul>
            <li>
                <h2>Gamecenter - Denamec</h2> - <h3>Enero de 2019 - Marzo de 2021</h3>
            </li>
            <p>
                Encargada de E-Commerce y facturación. Atención al cliente en redes sociales y puntos de venta electrónicos, respuestas a consultas, cierre de ventas. Armado de publicaciones, carga, control y seguimiento del stock. Monitoreo de plataformas digitales (Mercado Libre, redes sociales y Marketplace). Emisión y envío de facturas electrónicas de AFIP.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Atento</h2> - <h3>2008-2009</h3>
            </li>
            <p>
                Costumer Service. Atención al cliente para el Banco Hipotecario gestionando llamadas entrantes y consultas.
                La escucha activa, empatía y tono asertivo hicieron que pueda resolver los problemas de los clientes de forma óptima y eficiente en todo momento. En este trabajo desarrolle también la capacidad para trabajar bajo presión.
            </p>
        </ul>
    </div>
</div>