<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Landing page ColaCola</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, natus ex architecto ad voluptatum perspiciatis et quis similique sequi eos dicta perferendis vel doloribus tempore eaque saepe reiciendis cupiditate fugit.</p>
        </div>
        <div class="col-sm-12 co-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/CocaCola.png" class="img-fluid img-proyecto">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Clon de Google</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, natus ex architecto ad voluptatum perspiciatis et quis similique sequi eos dicta perferendis vel doloribus tempore eaque saepe reiciendis cupiditate fugit.</p>
        </div>
        <div class="col-sm-12 co-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/google.png" class="img-fluid img-proyecto">
        </div>

    </div>
</div>