<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="card" style="width: 30rem;">
            <img src="../../../assets/CocaCola.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Landing Page de Cola-Cola</h5>
              <p class="card-text">Proyecto de Landing Page responsive para la marca Cola-Cola. Realizada con HTML, CSS y JavaScript apuntado a JQuery.</p>
              <a href="https://github.com/Natalinacn/CocaCola" target="_blank" class="btn btn-primary">Ver proyecto en GitHub</a>
            </div>
          </div>

          <div class="card" style="width: 30rem;">
                      <img src="../../../assets/google.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Clon del buscador de Google</h5>
              <p class="card-text">Clon del buscador, realizado con HTML y CSS. En el proyecto se tomó en cuenta el responsive de la página de Google para imitar su comportamiento tanto en desktop como en móvil.</p>
              <a href="https://github.com/Natalinacn/googleclon" target="_blank" class="btn btn-primary">Ver proyecto en GitHub</a>
            </div>
          </div>

    </div>
</div>
