    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/FotoPerfil.jpeg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Natalin Acuña</p>
            <p>Full Stack Developer Jr</p>
        </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p>Para mi, la programación debe ayudar a resolver problemas cotidianos, hacer más simple la vida y el trabajo de la gente. Estoy dando mis primeros pasos en el desarrollo web y me da mucha satifacción ver lo mucho que he avanzado y pensar el camino que me queda por recorrer para alcanzar mi máximo potencial. Me gustaría que me acompañes. De mi parte siempre habrá compromiso y ganas de aprender. Trabaja conmigo!
        </p>
    </span>
    </div>
